footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(24, 24, 61);
}

footer > p {
  padding: 4px;
  margin: 15px;
  color: #eee;
}

footer > p > a {
  color: #eee;
}
